<?xml version="1.0" encoding="utf-8"?>
<Catalog Title="各种好气啊">
	<Emoticon File="/source/sticker_cover.jpeg" Tag="TabCover"/>
    <Emoticon File="/source/sticker_test_01.jpg" Tag="嗨呀好气"/>

    <Emoticon File="/source/sticker_test_03.jpg" Tag="好气哦！"/>
    <Emoticon File="/source/sticker_test_05.jpg" Tag="嗨呀好气"/>
    <Emoticon File="/source/sticker_test_06.jpg" Tag="哼！生气"/>
    <Emoticon File="/source/sticker_test_07.jpg" Tag="好气吖"/>
    <Emoticon File="/source/sticker_test_08.jpg" Tag="呀，好气吖"/>
    <Emoticon File="/source/sticker_test_09.jpg" Tag="你找死啊"/>
    <Emoticon File="/source/sticker_test_10.jpg" Tag="好气哦"/>

    <Emoticon File="/source/sticker_test_12.jpg" Tag="好气哦"/>

    <Emoticon File="/source/sticker_test_13.jpg" Tag="不可能！"/>
    <Emoticon File="/source/sticker_test_14.jpg" Tag="好气哦！"/>
  
    <Emoticon File="/source/sticker_test_16.jpg" Tag="好气哦！"/>
    
    <Emoticon File="/source/sticker_test_24.jpg" Tag="好气哦！"/>
    <Emoticon File="/source/sticker_test_25.jpg" Tag="这不可能"/>
    
    <Emoticon File="/source/sticker_test_27.jpg" Tag="好气啊黑"/>
    <Emoticon File="/source/sticker_test_28.jpg" Tag="脸都绿了"/>
</Catalog>


